/*scroll*/
html{
    height: 100%
}
html {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}
body {
}
.main
{
    position: relative;
    font-size: 16px;
    margin-bottom: 60px;
    z-index: 9;
}
.scroll-box
{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;

    position: relative;
	text-align: center;
    box-sizing: border-box;
}
.brand-infor
{
	padding:10px; 
}
.brand-logo
{
	width: 50%;
    margin-top: -12%;
    z-index: 2;
    position: relative;
}
.glob-swiper-next {
    position: absolute !important;
    display: block !important;
    z-index: 999 !important;
    opacity: 0 !important;
}