body {
	font-size: 15px;
	color: #4a4a4a;
	background: #f0f0f0;
}

#page {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

.header {
	width: 100%;
	text-align: center;
	margin-bottom: 8%;
	font-size: 0;
}
.header .slogan {
	display: block;
	width: 72%;
	margin: 5% auto 30%;
}
.header .avatar {
	display: block;
	width: 120px;
	height: 120px;
	border-radius: 100%;
	overflow: hidden;
	margin: 0 auto 10%;
	overflow: hidden;
	border: 1px solid #777;
}
.grass {
	position: relative;
	width: 72%;
	margin: 0 auto;
	bottom: -13px;
}

#page .content {
	width: 100%;
	margin: 0 auto 10%;
	background: url(../../images/bg-grass.jpg) no-repeat;
	background-size: 100% 100%;
	padding: 6% 8%;
}
.select-datetime dl.datetime-day dt, .select-datetime dl.datetime-day dd {
    width: 14.5%;
    height: 30px;
    line-height: 30px;
}

.register {
	text-align: center;
}

.register li {
	width: 90%;
	margin: 0 auto 26px;
	height: 38px;
	line-height: 38px;
}
.register li > label {
	display: inline-block;
	width: 15%;
	height: 38px;
	line-height: 38px;
	text-align: left;
	vertical-align: middle;
}
.register li .sex-wrapper label {
	position: relative;
	vertical-align: middle;
	margin-right: 6px;
	top: -5px;
}
.register li > input, .register li .sex-wrapper {
	display: inline-block;
	padding: 0 10px;
	height: 36px;
	line-height: 36px;
	width: 83%;
	vertical-align: middle;
	background: #FFF;
	border-radius: 5px;
	color: #4a4a4a;
    text-align: center;
    box-shadow: 1px 1px 2px rgba(0,0,0,.2) inset;
}
.register li .sex-wrapper {
	background: transparent;
	text-align: center;
	box-shadow: 0 0 0 transparent !important;
}
.register li .sex-wrapper label:first-child {
	margin-right: 25%;
}
.register li .sex-wrapper input {
    width: 18px;
    height: 18px;
    margin-right: 6px;
    background: url(../../images/check.png) top center;
    background-size: 100% 100%;
    vertical-align: middle;
}
.register li .sex-wrapper input:checked {
    background: url(../../images/checked.png) top center;
    background-size:100% 100%;
}

input[type=radio], input[type=checkbox] {
	border-radius: 0 !important;
}

#page .btn-rule {
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 15px;
	margin: 8% auto 0;
	color: #4a4a4a;
	text-decoration: underline;
}
#page .btn-submit {
	display: block;
	width: 85%;
	margin: 50px auto 0;
	height: 46px;
	line-height: 46px;
	text-align: center;
	border-radius: 4px;
	font-size: 16px;
	color: #FFF;
	background: #d91217;
	border: 0 none;
}
.fix-py {
	width: 100%;
	padding-left: 14%;
	text-align: center;
}

.result {
	position: relative;
	width: 100%;
	text-align: center;
}

.rule {
	width: 94%;
	margin: 0 auto 20px;
	font-size: 14px;
	color: #333;
	text-align: left;
	background: #FFF;
	padding: 16px;
	border-radius: 3px;
	box-shadow: 0 0 8px rgba(0,0,0,.1);
}
.rule h4 {
	font-size: 18px;
	margin-bottom: 10px;
	border-bottom: 1px solid #AAA;
	padding-bottom: 5px;
}
.rule p {
	text-align: left;
	line-height: 19px;
	word-break: break-all;
}

.btn {
	display: inline-block;
	height: 38px;
	line-height: 36px;
	text-align: center;
	border: 1px solid #333;
	color: #333;
	font-size: 15px;
	border-radius: 4px;
	margin: 30px auto 50px;
	padding: 0 22px;
	width: auto;
}

.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 999999;
}
.popup:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255,255,255,.6);
}

#pop-register .content {
	position: absolute;
	text-align: center;
	z-index: 9;
	width: 70%;
	left: 15%;
	top: 26%;
	background: #FFF;
	color: #333;
	border-radius: 4px;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
}
#pop-register .content h1 {
	font-size: 19px;
	margin-bottom: 18px;
}
#pop-register .content p {
	font-size: 15px;
	margin-bottom: 28px;
	text-align: center;
}
#pop-register .content a {
	display: block;
	width: 90%;
	height: 36px;
	line-height: 36px;
	margin: 0 auto;
	border: 0 none;
	border-radius: 3px;
	color: #FFF;
	background: #d91217;
}

#pop-share .content {
	position: absolute;
	text-align: center;
	z-index: 9;
	width: 72%;
	left: 14%;
	top: 30%;
	color: #FFF;
	border-radius: 4px;
}
#pop-share .content p {
	font-size: 18px;
	margin-bottom: 16px;
}

#pop-end .content {
	position: absolute;
	text-align: center;
	z-index: 9;
	width: 70%;
	left: 15%;
	top: 35%;
	background: #FFF;
	color: #333;
	border-radius: 4px;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
}
#pop-end .content h1 {
	font-size: 19px;
	margin-bottom: 18px;
}
#pop-end .content p {
	font-size: 15px;
	margin-bottom: 28px;
	text-align: center;
}
#pop-end .content a {
	display: block;
	width: 90%;
	height: 36px;
	line-height: 36px;
	margin: 0 auto;
	border: 0 none;
	border-radius: 3px;
	color: #FFF;
	background: #d91217;
}