body {
	font-size: 15px;
	color: #4a4a4a;
	background: #f0f0f0;
}
body > section {
	position: relative;
	width: 100%;
	padding: 2% 0 30px;
	overflow: hidden;
	text-align: center;
}
body > section > h1 {
	width: 100%;
	text-align: center;
	margin: 0 auto 20px;
	padding: 6% 0 0;
	font-size: 17px;
	color: #666;
}
body > section > h1:before {
	content: '';
	position: relative;
	display: inline-block;
	width: 17px;
	height: 17px;
	background: url(../../images/tip.png) no-repeat;
	background-size: 100% 100%;
	vertical-align: middle;
	top: -1px;
	margin-right: 8px;
}
body > section > h1 > p {
	margin-top: 8px;
	font-size: 16px;
}
img {
	display: block;
}
.ci {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
}
.info .coin {
	font-size: 14px !important;
}
// .info .coin:after {
// 	content: '枚' !important;
// }
.parent .info .coin:before {
	content: '乐宁家长币：' !important;
	background: url(../../images/icon-par.png) no-repeat;
	background-size: 38px 100%;
	padding-left: 38px;
}
.student .info .coin:before {
	content: '乐宁学生币：' !important;
	background: url(../../images/icon-stu.png) no-repeat;
	background-size: 38px 100%;
	padding-left: 38px;
}
.parent .parent-title, .parent .parent-content {
	display: block !important;
}
.student .student-title, .student .student-content {
	display: block !important;
}
.content {
	position: relative;
	width: 100%;
	text-align: left;
	font-size: 0;
}
#nav .content, #list .content, #history .content {
	padding: 0 4% 0;
}

#index .area {
	position: relative;
	font-size: 15px;
	width: 100%;
	padding: 0 4% 10%;
	margin: 0 auto 5%;
	border-bottom: 1px solid #e4e4e4;
}
#index .area:last-child {
	border-bottom: 0 none;
}
#index .area > a {
	display: block;
	text-align: right;
	font-size: 13px;
	color: #333;
	margin: 0 2px 8px 0;
}
#index .area .list {
	position: relative;
	overflow: hidden;
	border-radius: 5px;
	font-size: 0;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
#index .area .list .info {
	position: absolute;
	z-index: 99;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 15px;
	background: rgba(0, 0, 0, 0.3);
	color: #FFF;
	overflow: hidden;
	padding: 0 15px;
	clear: both;
}
#index .area .list .info p {
	line-height: 38px;
}
#index .area .list .info .title {
	float: left;
}
#index .area .list .info .coin {
	position: relative;
	float: right;
	font-size: 15px;
}
#index .area .list .info .coin:before {
	content: '' !important;
	position: absolute;
	display: inline-block;
	height: 38px;
	left: -40px;
	bottom: 0;
}

#nav .content .info {
	font-size: 15px;
	color: #333;
	line-height: 38px;
	overflow: hidden;
	margin-bottom: 5px;
}
#nav .content .info .coin {
	position: relative;
	float: left;
}
#nav .content .info .coin:before {
	content: '';
	display: inline-block;
	height: 38px;
	left: 0;
	bottom: 0;
}
#nav .content .info .btn-list {
	float: right;
	color: #333;
	font-size: 14px;
}
#nav .content > a {
	display: block;
	margin-bottom: 20px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
#nav .content > a:last-child {
	margin-bottom: 0;
}


#list .content .info {
	font-size: 15px;
	color: #333;
	line-height: 38px;
	overflow: hidden;
	margin-bottom: 5px;
}
#list .content .info .coin {
	position: relative;
	float: left;
}
#list .content .info .coin:before {
	content: '';
	display: inline-block;
	height: 38px;
	left: 0;
	bottom: 0;
}
#list .content .info .btn-list {
	float: right;
	color: #333;
	font-size: 14px;
}
#list .cards {
	position: relative;
	overflow: hidden;
	margin: 15px auto 0;
	opacity: 0;
}
#list .cards .card, #history .cards .card {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0 auto 12px;
	border: 1px solid #CCC;
}
#list .cards .card h5, #history .cards .card h5 {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	background-color: rgba(0,0,0,.5);
	padding: 6px 10px;
}
#list .cards .card h5 span, #history .cards .card h5 span {
	display: block;
	font-size: 13px;
	color: #FFF;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    flex-basis: auto;
    display: block;
    flex-basis: 1px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    overflow: hidden;
    -webkit-box-pack: center;
    line-height: 1.5em;
    height: 1.5em;
}
#list .cards .card h5 p, #history .cards .card h5 p {
	color: #FFF;
	font-size: 14px;
	width: 70%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    flex-basis: auto;
    display: block;
    flex-basis: 1px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    overflow: hidden;
    -webkit-box-pack: center;
    line-height: 1.5em;
    height: 1.5em;
}
#list .btn-get {
	display: block;
	position: absolute;
	top: 26%;
	right: 3%;
	color: #FFF;
	background: #FFA700;
	font-size: 15px;
	width: 90px;
	padding: 7px 0;
	border-radius: 5px;
	text-align: center;
	box-shadow: 0 6px 0 rgba(0, 0, 0, 0.3);
}
#list .out .btn-get {
	color: #828282;
    background: #B9B9B9;
}
#list i, #history i {
	position: absolute;
	font-size: 16px;
	color: #fdf200;
	right: 0;
	bottom: 15px;
	font-style: normal;
	width: 30%;
	text-align: right;
	margin-right: 10px;
	pointer-events: none;
}
#list i span, #history i span {
	font-size: 12px;
	color: #fdf200;
	margin-left: 2px;
}
#list i:before, #history i:before {
	content: '';
	position: relative;
	display: inline-block;
	top: 7px;
	width: 27px;
	height: 27px;
	background: url(../../images/icon-coin.png) no-repeat;
	background-size: 100% 100%;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-corner {
	opacity: 0 !important;
	width: 0 !important;
}

#info .link {
	position: relative;
	width: 100%;
	color: #6d7c8f;
	padding: 8px 10px;
	background: #FFF;
	border-bottom: 1px solid #e4e4e4;
}
#info .content {
	opacity: 0;
}
#info .link:nth-child(1) {
	border-top: 1px solid #e4e4e4;
}
#info .link .l-name {
	position: relative;
	display: inline-block;
	width: 44%;
	font-size: 13px;
	color: #222;
	padding-left: 28px;
	word-break: break-all;
}
#info .link .l-name i {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 4px;
	left: 0;
	overflow: hidden;
}
#info .link .l-num {
	display: inline-block;
	width: 24%;
	padding-left: 6%;
}
#info .link .l-time {
	display: inline-block;
	width: 32%;
	text-align: right;
	font-size: 12px;
}
#info span {
	font-size: 15px;
	// height: 28px;
	line-height: 28px;
	vertical-align: top;
}

#history .content .info {
	font-size: 15px;
	color: #333;
	line-height: 38px;
	overflow: hidden;
	margin-bottom: 5px;
}
#history .content .info .coin {
	position: relative;
	float: left;
}
#history .content .info .coin:before {
	content: '';
	display: inline-block;
	height: 38px;
	left: 0;
	bottom: 0;
}
#history .content .info .btn-list {
	float: right;
	color: #333;
	font-size: 14px;
}
#history .btn-get {
	display: block;
	position: absolute;
	top: 26%;
	right: 3%;
	color: #FFF;
	background: #f4af2d;
	font-size: 14px;
	width: 24%;
	padding: 3px 0;
	border-radius: 5px;
	text-align: center;
	box-shadow: 0 8px 0 rgba(0, 0, 0, 0.15);
}
#history .mask:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(240, 240, 240, 0.4);
	left: 0;
	top: 0;
	z-index: 88;
	border-radius: 6px;
}
#history .mask:after {
	content: '';
	position: absolute;
	width: 100px;
	height: 100px;
	background: url(../../images/mask.png) no-repeat;
	background-size: 100% 100%;
	top: -15px;
	right: -8px;
	z-index: 99;
}
#history h4 {
	display: none;
}
#history .mask h4 {
	display: block;
	position: absolute;
	font-size: 12px;
	top: 40px;
	right: 4px;
	z-index: 99;
	color: #333;
	font-weight: bold;
	transform:rotate(-16deg);
	-ms-transform:rotate(-16deg);
	-moz-transform:rotate(-16deg);
	-webkit-transform:rotate(-16deg);
	-o-transform:rotate(-16deg);
}
#history h6 {
	position: absolute;
	font-size: 12px;
	color: #FFF;
	left: 6%;
	bottom: 8%;
	width: 60%;
	text-align: right;
	-webkit-transform: scale(0.9);
	   -moz-transform: scale(0.9);
	    -ms-transform: scale(0.9);
	     -o-transform: scale(0.9);
	        transform: scale(0.9);
}
#history h2 {
	position: absolute;
	top: 25%;
	left: 35%;
	width: 28%;
	font-size: 14px;
	color: #FFF;
	display: -webkit-box;
	word-break: break-all;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.user-choice {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	padding: 0;
	overflow: hidden;
	overflow-y: scroll;
}
.user-choice:after {
	content: '';
	position: fixed;
	background: #f0f0f0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
}
.user-choice .wrap {
	position: relative;
	width: 100%;
	padding: 0;
	z-index: 99;
	font-size: 17px;
	color: #333;
	overflow: hidden;
}
.user-choice .wrap h4 {
	width: 100%;
	text-align: center;
	margin: 10px auto 50px;
	padding: 6% 0 0;
	font-size: 17px;
	color: #333;
}
.user-choice .wrap h4:before {
	content: '';
	position: relative;
	display: inline-block;
	width: 17px;
	height: 17px;
	background: url(../../images/tip.png) no-repeat;
	background-size: 100% 100%;
	vertical-align: middle;
	top: -1px;
	margin-right: 8px;
}
.user-choice .wrap h4 > p {
	margin-top: 8px;
	font-size: 16px;
}
.user-choice .wrap .user {
	position: relative;
	display: table;
	width: 90%;
	background: #FFF;
	margin: 0 auto 20px;
	border-radius: 4px;
	padding: 8px;
	padding-left: 100px;
	min-height: 100px;
	text-align: left;
	overflow: hidden;
	border: 1px solid #D8D8D8;
}
.user-choice .wrap .user img {
	position: absolute;
	top: 8px;
	left: 10px;
	width: 80px;
	height: 80px;
}
.user-choice .wrap .name {
	display: table-cell;
	vertical-align: middle;
	line-height: 26px;
}

#detail {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #f4f4f4;
	padding: 0;
	overflow: hidden;
	overflow-y: scroll;
}
#detail .detail-wrap {
	width: 100%;
	padding-bottom: 70px;
}
#detail .detail-wrap img {
	display: block;
}
#detail .detail-wrap p {
	display: block;
	padding: 3%;
	font-size: 14px;
	color: #333;
	line-height: 1.5;
	text-align: left;
	background-color: #FFF;
}
#detail .detail-wrap p:before {
	content: '商品描述';
	display: block;
	text-align: left;
	font-size: 15px;
	font-weight: bold;
	color: #888;
}
#detail .buy-wrap {
	position: fixed;
	width: 100%;
	height: 52px;
	bottom: 0;
	left: 0;
	background: rgba(255,255,255,.96);
	z-index: 99;
	font-size: 0;
	overflow: hidden;
	border-top: 1px solid rgba(0,0,0,.05);
}
#detail .buy-wrap a {
	display: inline-block;
	color: #FFF;
	font-size: 15px;
	text-align: center;
	height: 52px;
	line-height: 52px;
	width: 68%;
    background-color: #FFA700;
    // background-color: #E32E2E;
}
#detail .buy-wrap a:first-child {
	font-size: 13px;
	width: 32%;
    box-shadow: none;
    color: #999;
	background-color: #FFF;
}
#detail .detail-main {
	font-size: 15px;
	text-align: left;
	padding: 2% 4% 3%;
	margin-bottom: 8px;
	background-color: #FFF;
}
#detail .detail-main h4 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    flex-basis: auto;
    display: block;
    flex-basis: 1px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    overflow: hidden;
    -webkit-box-pack: center;
    line-height: 1.35em;
    height: 3em;
    color: #051B28;
    margin-bottom: 5px;
}
#detail .detail-main h6 {
	font-size: 13px;
	color: #999;
	margin-bottom: 6px;
}
#detail .detail-main h5 {
    word-break: break-all;
    margin-right: 14px;
    white-space: nowrap;
    font-size: 19px;
    color: #dd2727;
}