body {
	font-size: 15px;
	color: #4a4a4a;
	background: #f0f0f0;
}
.video-size {
	font-size: 13px;
	color: #DCDCDC;
	text-align: right;
}
.upload-tips {
    display: block;
    width: 100%;
    padding: 4px 7px;
    font-size: 13px;
    line-height: 17px;
    background: rgba(255, 245, 131, 0.68);
    color: #FF8300;
    border: 1px solid #FFCE91;
    margin-bottom: 15px;
}
.btn {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 8px !important;
}
#pre-index {
	position: relative;
	width: 100%;
	padding: 6% 6% 0;
	overflow: hidden;
	text-align: center;
}
#pre-index h2 {
	font-size: 19px;
	line-height: 26px;
	margin: 0 auto 20px;
	color: #45B0E0;
}
#pre-index > p {
	width: 100%;
	text-align: center;
	margin: 0 auto 20px;
	font-size: 16px;
	color: #666;
}
#pre-index > p:before {
	content: '';
	position: relative;
	display: inline-block;
	width: 17px;
	height: 17px;
	background: url(../../images/tip.png) no-repeat;
	background-size: 100% 100%;
	vertical-align: middle;
	top: -1px;
	margin-right: 8px;
}
#pre-index .subject {
	margin: 0 auto 60px;
	width: 86%;
	text-align: center;
	font-size: 0;
}
#pre-index .subject p {
	width: 100%;
	margin: 0 auto 15px;
}
#pre-index .subject a {
	display: block;
	font-size: 16px;
	color: #FFF;
	// height: 52px;
	// line-height: 52px;
	padding: 16px 8px;
	line-height: 21px;
	background: #84c6e4;
	border-radius: 5px;
	box-shadow: 2px 2px 3px rgba(0,0,0,.1);
}

#pre-detail {
	position: relative;
	width: 100%;
	min-height: 100%;
	padding: 6% 6% 0;
	overflow: hidden;
	text-align: center;
}
#pre-detail h6 {
	font-size: 15px;
	margin-bottom: 12px;
}
#pre-detail h3 {
	display: inline-block;
	padding: 6px 26px;
	background: #DC0000;
	color: #FFF;
	font-size: 15px;
	line-height: 21px;
	margin-bottom: 16px;
}
#pre-detail h3 label {
	margin-left: 3px;
}
#pre-detail p {
	font-size: 14px;
	color: #333;
	line-height: 20px;
	text-align: left;
	text-indent: 28px;
	margin-bottom: 20px;
}
#pre-detail .video-js {
	width: 100%;
	min-height: 220px !important;
	background: black;
	margin: 0 auto 30px;
	font-size: 0;
	text-align: center;
	overflow: hidden;
}
#pre-detail .btn-box {
	position: absolute;
	width: 100%;
	font-size: 0;
	text-align: right;
	margin: 0 auto 10px;
	right: 10px;
	bottom: 0;
}
#pre-detail .btn-box .btn {
	display: inline-block;
	width: 53%;
	font-size: 15px;
	color: #FFF;
	border-radius: 4px;
	margin-bottom: 5px;
}
#pre-detail .btn-box .btn:nth-child(2n) {
	background: #4990e2;
}
#pre-detail .btn-box .btn:nth-child(2n + 1) {
	background: #85c6e4;
}
#pre-detail > *:nth-last-child(2) {
	margin-bottom: 170px;
}

#pre-list {
	position: relative;
	width: 100%;
	min-height: 100%;
	padding: 6% 6% 0;
	overflow: hidden;
	text-align: center;
}
#pre-list h6 {
	font-size: 15px;
	margin-bottom: 12px;
}
#pre-list > p {
	width: 100%;
	text-align: center;
	margin: 0 auto 20px;
	font-size: 16px;
	color: #666;
}
#pre-list > p:before {
	content: '';
	position: relative;
	display: inline-block;
	width: 17px;
	height: 17px;
	background: url(../../images/tip.png) no-repeat;
	background-size: 100% 100%;
	vertical-align: middle;
	top: -1px;
	margin-right: 8px;
}
#pre-list .detail {
	width: 90%;
	margin: 0 auto 120px;
	font-size: 15px;
	color: #FFF;
}
#pre-list .detail a {
	position: relative;
	display: block;
	height: 38px;
	line-height: 38px;
	border-radius: 4px;
	background: #85c6e4;
	margin-bottom: 10px;
	text-align: left;
	padding: 0 18px;
	color: #555;
}
#pre-list .detail a label {
	display: block;
	width: 76%;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#pre-list .detail a.unpre {
	background: #f39ea1;
}
#pre-list .detail a:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0 18px;
	text-align: right;
	font-size: 14px;
	content: '已预习';
}
#pre-list .detail a.unpre:after {
	content: '未预习';
}
#pre-list .btn-box {
	position: absolute;
	width: 100%;
	font-size: 0;
	text-align: right;
	margin: 0 auto 10px;
	right: 10px;
	bottom: 0;
}
#pre-list .btn-box .btn {
	display: inline-block;
	width: 52%;
	font-size: 15px;
	color: #FFF;
	border-radius: 4px;
	margin-bottom: 5px;
}
#pre-list .btn-box .btn:nth-child(2n) {
	background: #4990e2;
}
#pre-list .btn-box .btn:nth-child(2n + 1) {
	background: #85c6e4;
}

#pre-edit {
	position: relative;
	width: 100%;
	min-height: 100%;
	padding: 6% 6% 0;
	overflow: hidden;
	text-align: center;
}
#pre-edit h6 {
	font-size: 15px;
	margin-bottom: 8px;
}
#pre-edit h2 {
	font-size: 19px;
	line-height: 26px;
	margin: 0 auto 20px;
	color: #45B0E0;
}
#pre-edit .content {
	width: 100%;
	margin: 0 auto 130px;
	text-align: left;
}
#pre-edit .content > section {
	position: relative;
	padding-left: 80px;
	width: 100%;
}
#pre-edit .content > section > p {
	position: absolute;
	width: 80px;
	left: 0;
	top: 0;
	font-size: 15px;
	line-height: 30px;
}
#pre-edit .content input:focus, #pre-edit .content textarea:focus {
	border: 2px solid #45B0E0;
}
#pre-edit .content input {
	width: 100%;
	height: 32px;
	line-height: 16px;
	padding: 8px 6px;
	font-size: 15px;
	color: #333;
	margin-bottom: 10px;
	border-radius: 4px;
}
#pre-edit .content textarea {
	width: 100%;
	min-height: 220px;
	border: 0;
	border-radius: 4px;
	resize: none;
	margin-bottom: 10px;
	padding: 6px;
}
#pre-edit .content .upload p {
	line-height: 20px;
}
#pre-edit .content .btn-upload {
	display: inline-block;
	padding: 3px 10px;
	background: #36aa47;
	color: #FFF;
	font-size: 13px;
	margin-bottom: 12px;
}
#pre-edit .content .btn-upload:before {
	content: '请选择';
}
#pre-edit .content .loading {
	display: none;
	background: #CACACA;
}
#pre-edit .content .repeat {
	background: #e94339;
}
#pre-edit .content .repeat:before {
	content: '删除并重传视频';
}

#pre-edit .btn-box {
	position: absolute;
	width: 100%;
	font-size: 0;
	text-align: right;
	margin: 0 auto 10px;
	right: 10px;
	bottom: 0;
}
#pre-edit .btn-box .btn {
	display: inline-block;
	width: 43%;
	font-size: 15px;
	color: #FFF;
	border-radius: 4px;
	margin-bottom: 5px;
	margin: 0 3%;
}
#pre-edit .btn-box .btn:nth-child(2n) {
	background: #4990e2;
}
#pre-edit .btn-box .btn:nth-child(2n + 1) {
	background: #85c6e4;
}
#pre-edit .video-js {
    width: 100%;
    min-height: 220px !important;
    background: black;
    margin: 0 auto 18px;
    font-size: 0;
    text-align: center;
    overflow: hidden;
}