html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}
body {
    font-size: 15px;
    color: #333;
    background: #f8f8f8;
    overflow: hidden;
    min-height: 100%;
    height: initial;
}
.main
{
     font-size: 16px;
}
section:nth-child(1)
{
    position: relative;
    height:200px;
    overflow: hidden;
}
section:nth-child(2)
{
    overflow: hidden;
    width: 100%;
}
.scroll-box
{
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 10px;
}
.swiper-container
{
    height: 100%;
}
.video-box .video{
    display: block;
    width: 100% !important;
    height: 200px !important;
    overflow: hidden;
}
.video-box{
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    background: #000;
}
.play{
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    z-index: 999;
}
.video-infor
{
    -webkit-transition: -webkit-transform ease-out 400ms;
    transition: -webkit-transform ease-out 400ms;
    margin:10px auto;
    height:90%;
    width: 80%;
    padding: 6px;
    overflow-y: auto;
    background: #fff;
    box-sizing: border-box;
}
.video-infor .video-headimg {
    /*height:6rem;
    width:6rem;*/
    overflow: hidden;
    text-align: center;
    margin:0px auto 10px;
    width: 100%;
}
.video-headimg img
{
    height: 100%;
    width: 100%;
}
.video-infor .video-name {
    position: relative;
    clear: both;
    color:#000;
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
    word-break: break-all;
}
.swiper-slide-active {
    z-index: 99;
}
.swiper-slide-active > .video-infor {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    transform: scale(1);
    -webkit-transform: scale(1);
}
.video-infor {
    transform: scale(.9);
    -webkit-transform: scale(.9);
}
// .swiper-slide-active >.video-infor
// {
//     margin:10px 60px;
// }
.course-infor
{
    font-size: 14px;
    padding: 5px 10px 0;
    position: relative;
    text-align: left;
}

audio::-webkit-media-controls-volume-slider, video::-webkit-media-controls-volume-slider {
    display: none;
}